<!DOCTYPE html>
<html>
<head>
	<title>Books home</title>
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
<div class ="container">
	<h2>Welcome, {{session['name']}}</h2>
	<div class="Right">
		<a href="/books/add">Add Book and Review</a>
		<a href="">Logout</a>
	</div>
	<h3 id="book"><b>Recent Book Reviews</b></h3>
	<div class="review">
	{%for review in reviews%}
	
		<p><a href="">{{review['title']}}</a></p>
		<p>Rating:{{review['rating']}} </p>
		<p><a href="">{{review['alias']}}</a> says: {{review['reviews']}}</p>
		<p>Posted on: {{review['date']}}</p>
	<hr>
	{%endfor%}
	</div>
	<div class="otherBooks">
	<h3>Other Books with Reviews</h3>
	
	{%for book in books%}
		<p><a href="">{{book['title']}}</a></p>
	{%endfor%}
	</div>
</div>
</body>
</html>